
<%= simple_form_for(@examlist) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :student, label_method: :full_name %>
    <%= f.association :examination, label_method: :date %>
    <%= f.input :mark %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
