<table>
    <tr>
      <td><%= student.number %></td>
      <td><%= student.full_name  %></td>
      <td><%= link_to 'show', student_path(student) %></td>
      <td><%= link_to 'edit', edit_student_path(student)  %></td>
      <td><%= link_to 'delete', student_path(student),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
</table>