<% if @examination.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@examination.errors.count, "error") %> prohibited
      this examination from being saved:
    </h2>
    <ul>
      <% @examination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for @examination do |f| %>
  <p><%= f.input :date %></p>
  <p><%= f.association :group %></p>
  <p><%= f.association :discipline %></p>
  <p><%= f.button :submit %></p>
<% end %>