<h1>Listing examinations</h1>
 
<table>
  <tr>
    <th>Date</th>
    <th>Group</th>
    <th>Discipline</th>
  </tr>
 
  <% @examinations.each do |examination| %>
    <tr>
      <td><%= examination.date %></td>
      <td><%= examination.group.name %></td>
      <td><%= examination.discipline.title %></td>
      <td><%= link_to 'Show', examination_path(examination) %></td>
      <td><%= link_to 'Edit', edit_examination_path(examination) %></td>
      <td><%= link_to 'Destroy', examination_path(examination),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
    </tr>
  <% end %>
</table>


<%= link_to 'New examination', new_examination_path %>