<!DOCTYPE html>
<html>
  <head>
    <title>Exam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'header' %>
    <%= stylesheet_link_tag 'work-page' %>
  </head>

  <body>
    <nav>
      <ul class="header-menu">
        <li><a href="/groups">Groups</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/disciplines">Disciplines</a></li>
        <li><a href="/examinations">Examinations</a></li>
        <li><a href="/examlists">Examlists</a></li>
      </ul>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class=work-page>
      <%= yield %>
    </div>
  </body>
</html>
